body {
    margin: 0%;
    width: 100vw;
    background-color: #E6FFFF;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Roundex;
}

@font-face {
    font-family: "Route";
    src:
        local("Route26_Straight"),
        url("../FNT/Route26_Straight.otf") format("opentype");
}

@font-face {
    font-family: "Roundex";
    src: url(../FNT/Roundex.otf) format("opentype");
}

main {
    width: 100vw;
    margin-top: 10pt;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
    column-gap: 5px;
}


img {
    width: 100%;
}

h1 {
    font-family: "Route";
    text-align: center;
    font-size: 2rem;
    color: #384059;
}

h2 {
    font-family: "Route";
    text-align: left;
    font-size: 1.5rem;
}

h3 {
    font-family: "Roundex";
    text-align: left;
    font-size: 1rem;
    color: #384059;
}

p {
    text-align: left;
    padding-right: 50pt;
    font-size: 0.9rem;
}

.barra {
    height: 70pt;
    grid-column: 1/4;
    background-color: #FA78B6;
    margin: -15pt;
    display: flexbox;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.barra h1 {
    margin-top: -25pt;
    margin-left: 15%;
    text-align: left;
}

.barra img {
    width: 10%;
    margin-top: 30pt;
    margin-left: 10pt;
}

.p1 {
    background-image: url(../IMG/iniciofondo1.png);
    height: 40vh;
    width: 100vw;
    margin-left: -15pt;
    background-size: contain;
    position: relative;
    display: block;
    align-content: center;
    z-index: 2;
}

.p2 {
    background-image: url(../IMG/iniciofondo2.png);
    height: 75vh;
    width: 100vw;
    margin-left: -15pt;
    margin-top: 0%;
    background-size: contain;
    position: relative;
    display: block;
    align-content: center;
    z-index: 2;
}

.p4 {
    background-color: #cff0ff;
    height: 30vh;
    width: 96vw;
    margin-left: -21pt;
    margin-top: 0%;
    background-size: contain;
    position: relative;
    display: block;
    align-content: center;
    z-index: 2;
    border: solid 10px #9dc9ff;
}

.inicio p {
    text-align: center;
    margin-left: 50pt;
    padding-top: 10pt;
}

.p1 h1 {
    margin-top: -75pt;
}

.p2 h1 {
    margin-top: -175pt;

}

.post {
    margin-left: 15pt;
    position: absolute;
    width: 40vw;
    background-color: #E6FFFF;
    height: 180pt;
    align-content: center;
    display: grid;
    box-shadow: 10px 10px 0px 1px #b91919;

}

.rrss-ima {
    margin-left: 13pt;
    width: 100pt;
    height: 100pt;
    background-color: #9dc9ff;
    position: relative;
}

.post h1 {
    margin: 0%;
    font-size: 15pt;
    text-align: center;
    padding: 10pt;
    padding-bottom: 5pt;
}

.post a {
    color: #FA78B6;
    margin: 0%;
    text-align: center;
    text-decoration: underline;
}

#nov2 {
    grid-column: 1/2;
    margin-left: 160pt;
    position: absolute;
}

.navmenu {
    position: relative;
    background-image: url(../IMG/menu.png);
    background-size: contain;
    width: 130pt;
    height: 245pt;
    margin: 0%;
    margin-top: -50px;
}

.btn-dudas {
    width: 30vw;
    text-align: center;
    border: solid 3px #384059;
    background-color: #E6FFFF;
    padding: 20px;
    margin-left: 15pt;
    box-shadow: 10px 10px 0px 1px #9dc9ff;
}

.btn-dudas a {
    text-decoration: none;
    color: #384059;
    font-size: 15pt;
}

.dudas {
    display: flex;
}

footer {
    padding: 20pt;
    padding-top: 90pt;
    margin-left: -360pt;
    margin-top: 170pt;
    background-color: #FA78B6;
    width: 90vw;
    height: 100pt;
    position: relative;
    display: flex;

}

footer img {
    position: absolute;
    width: 40%;
    margin-top: -60pt;
}

.ftr {
    margin-right: 40pt;
    width: 100pt;
    height: 100pt;
}

.ftr a {
    text-decoration: underline;
    color: #384059;
}

@media screen and (min-width: 768px) {

    body {
    margin: 0%;
    width: 100vw;
    background-color: #E6FFFF;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Roundex;
}

   main {  
    margin: 0%;
    margin-left: -20px;
    width: 100vw;
    margin-top: 10pt;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
   }

   .barra {
    height: 50pt;
    grid-column: 1/4;
    background-color: #FA78B6;
    margin: -15pt;
    display: flexbox;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.barra h1 {
    margin-top: -25pt;
    margin-left: 8%;
    text-align: left;
}

.barra img {
    width: 4.5%;
    margin-top: 10pt;
    margin-left: 10pt;
}

.p1 {
    background-image: url(../IMG/iniciofondo1.png);
    height: 40vh;
    width: 110vw;
    margin-left: 10ptpt;
    background-size: contain;
    position: absolute;
    display: block;
    align-content: center;
    z-index: 2;
}

.p2 {
    background-image: url(../IMG/iniciofondo2.png);
    height: 80vh;
    width: 110vw;
    margin-left: -15pt;
    margin-top: 0%;
    background-size: contain;
    position: absolute;
    top: 400pt;
    display: block;
    align-content: center;
    z-index: 2;
}

.p4 {
    background-color: #cff0ff;
    height: 40vh;
    width: 110vw;
    margin-left: -21pt;
    margin-top: 0%;
    background-size: contain;
    position: absolute;
    top: 1000pt;
    display: block;
    align-content: center;
    z-index: 2;
    border: solid 10px #9dc9ff;
}

.post {
    margin-left: 15pt;
    position: relative;
    width: 30vw;
    background-color: #E6FFFF;
    height: 200pt;
    align-content: center;
    display: grid;
    box-shadow: 10px 10px 0px 1px #b91919;

}

.rrss-ima {
    margin-left: 40pt;
    width: 100pt;
    height: 100pt;
    background-color: #9dc9ff;
    position: relative;
}

footer {
    padding: 20pt;
    padding-top: 90pt;
    margin-left: -100vw;
    background-color: #FA78B6;
    width: 100vw;
    height: 200pt;
    position: relative;
    top: 875pt;
    display: flex;

}

footer img {
    position: absolute;
    width: 40%;
    margin-top: -60pt;
}

.ftr {
    position: relative;
    top: 10vh;
    margin-right: 10vw;
    width: 40vw;
    height: 45vh;
}
   

}